* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: none;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

section {
	width: 480px;
	margin: 150px auto;
}

hr {
	position: relative;
	width: 100%;
}

/* mira */
.mira {
	position: absolute;
	z-index: 5;
	line-height:0;
	border: 2.5px solid #00f;
}
.hor {
	width: 480px;
	height: 0px;
}
.ver {
	width: 0px;
	height: 320px;
}